.nav_container {
  position: relative;
  height: 100vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.nav_list {
  flex: 1;
}

.nav_item_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  text-decoration: none;
  color: black;
}

.nav_item_link:hover,
.nav_item_active {
  text-decoration: none;
  background: var(--light);
}

.nav_item_link:hover {
  color: black;
}

.nav_item_active,
.nav_item_active .badge-light {
  color: var(--blue) !important;
}

.nav_search_clear {
  right: 0;
  top: 0;
  margin: 0.3em;
}

.nav_office_type_select {
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--blue);
  margin: 0 0.7rem 0.5rem;
  border-bottom: 10px solid var(--blue);
}
